.navButton {
    background-color: rgb(30, 28, 28);
    border-radius: 20px;
    padding: 8px 20px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 0.8px;
    cursor: pointer;
}
