.blogCard {
    width: 50%;
    text-align: justify;
    cursor: pointer;
}

.category {
 padding-bottom: 6px;
}

.title {
    font-size: 1.5rem;
    letter-spacing: 0.8px;
}

.description {
    padding: 6px 0px;
    color: rgb(92, 91, 91);
}

.blogInfo {
    font-size: 0.8rem;
    color: rgb(92, 91, 91);
    display: flex;
}

.tags {
    display: flex;
    margin-left: 1rem;
}

.tag {
    padding: 2px 5px;
    background-color: rgb(245, 229, 192);
    margin: 0 6px;
    border-radius: 3px;
}

@media only screen and (max-width: 970px) {
    .blogCard {
        width: 60%;
    }
}

@media only screen and (max-width: 720px) {
    .blogCard {
        width: 80%;
    }
}

@media only screen and (max-width: 600px) {
    .blogCard {
        width: 100%;
        padding-right: 0.7rem;
    }
    .blogInfo {
        flex-direction: column;
    }
    .tags {
        margin-left: 0;
        margin-top: 10px;
    }
    .tag {
        padding: 2px 5px;
        background-color: rgb(243, 232, 206);
        margin: 0 7px 0 0;
        border-radius: 3px;
    }
}
